body {
  background-color: #e9e7e7;
  margin: 16px auto;
  width: 90vw;
  text-align: center;
}
.main__header-heading {
  color: rgb(54, 48, 48);
  margin-top: 32px;
}
.main__section-heading {
  margin-top: 32px;
  color: #4f8dcc;
}
.main__article-heading {
  color: #194e9e;
}
.main__section-image {
  margin: 8px auto;
}
.header__navigation-link {
  margin-right: 16px;
  color: #f57a15;
}
.header__navigation {
  margin: 16px;
}
.footer {
  margin-top: 64px;
}
.main__article-paragraph {
  margin-bottom: 16px;
}
.main__section {
  margin: 64px;
}